* {
  margin: 0;
}

/* Font variables: */
@font-face {
  font-family: BoxedHeavyItalic;
  src: url("../fonts/BoxedHeavy-Italic.otf");
}
@font-face {
  font-family: BoxedHeavy;
  src: url("../fonts/BoxedHeavy.ttf");
}
@font-face {
  font-family: Finition;
  src: url("../fonts/Finition.ttf");
}
@font-face {
  font-family: FjallaOneRegular;
  src: url("../fonts/FjallaOne-Regular.ttf");
}
@font-face {
  font-family: GlossAndBloom;
  src: url("../fonts/Gloss_And_Bloom.ttf");
}

.title {
  height: 100px;
  text-align: center;
  font-size: 45px;
  font-family: BoxedHeavyItalic;
  margin-top: 30px;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container {
  display: block;
  height: 576px;
  width: 1024px;
  position: relative;
  background-color: rgb(5, 37, 54);
}

.altBg {
  background-color: rgb(177, 35, 94);
}

.canvas {
  position: absolute;
  z-index: 1;
}
.canvasText {
  z-index: 2;
  position: absolute;
}
.canvasPlayer {
  z-index: 3;
  position: absolute;
}
.canvasPlayerEffect {
  z-index: 4;
  position: absolute;
}
/* .canvasAnimation {
  z-index: 5;
  position: absolute;
  width: 50px;
  height: 50px;
  position: absolute;
  transform: rotate(45deg);
  background-color: red;
  animation: .5s linear 1s infinite alternate slidein;
} */

/* .animation {
} */

.form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: self-start;
  flex-direction: column;
  font-family: BoxedHeavyItalic;
  font-size: 24px;
  margin-top: 30px;
}

.footer {
  height: 50px;
  background-color: antiquewhite;
}
